body {
  background-color: mistyrose;
  background-size: auto;
  background-position: repeat;
}

.well {
  background-color: rgba(255,255,255,0.5);
}

.jumbotron {
  background: url("../../resources/img/spaghetti.gif");
  /*opacity: .8;*/
  background-size: auto;
  background-position: repeat;
}

.jumboheader {
  text-align: center;
  color: black !important;
  text-shadow: 3px 3px white;
  font-family: 'Shrikhand', sans-serif;
}

.jumbotext {
  font-style: italic;
  font-family: 'Concert One', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px black;
}

.edit {
  height: 20px;
  width: auto;
}

.pull-right {
  margin-right: 0.5em;
}

.fruit {
  background: url("../../resources/img/fruit.jpeg");
  background-size: contain;
  height: 41em;
}

.fruit-text {
  color: white;
  font-family: 'Concert One', sans-serif;
  text-shadow: 3px 3px black;
  font-size: 20px;
  word-wrap: break-word;
}

textarea {
  resize: vertical;
}

.cupcake {
  background: url("../../resources/img/cupcake.jpg");
  background-size: contain;
  height: 41em;
}

.cupcake-text, .fruit-header {
  color: white;
  font-family: 'Shrikhand', sans-serif;
  text-shadow: 3px 3px black;
  word-wrap: break-word;
}

.entry-header {
  color: black;
  font-family: 'Shrikhand', sans-serif;
  text-shadow: 3px 3px white;
  word-wrap: break-word;
  margin-left: 5%;
  margin-bottom: 3%;
  font-size: 3em;
}

.entry-text {
  color: black;
  font-family: 'Concert One', sans-serif;
  font-size: 20px;
  word-wrap: break-word;
  margin: 0 1% 0 1%;
}

.selector {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}
